/* Place CSS styles here */
body{
}
h1{
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 400px;
}
.paragraph_moment{
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 18px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.variety-1{
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    font-size: 100px;
}
.variety-2{
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: left;
    font-size: 100px;
}
.variety-3{
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    font-size: 100px;
}
.variety-4{
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: left;
    font-size: 100px;
}
.variety-5{
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    font-size: 100px;
}
.variety-6{
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: italic;
    text-align: left;
    font-size: 100px;
}
.variety-7{
    font-family: "futura-pt", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    font-size: 100px;
}
.variety-8{
    font-family: "futura-pt", sans-serif;
    font-weight: 600;
    font-style: italic;
    text-align: left;
    font-size: 100px;
}