/* Place CSS styles here */
body{font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
}
h1{font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 400px;
}
.paragraph_moment{font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    flex-wrap: wrap;
    font-size: 20px;
}