/* Place CSS styles here */
body{
}
.box{
    background-color: rgb(0, 83, 122);
}
h1{
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 400px;
    color: rgb(210, 240, 255);
}
.paragraph_moment{
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 18px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(210, 240, 255);
}
.variety-1{
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    font-size: 100px;
    margin-left: 20px;
    color: rgb(0, 83, 122);
}
.variety-2{
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: italic;
    text-align: right;
    font-size: 100px;
    margin-right: 20px;
    color: rgb(0, 83, 122);
}
.idk{
    display: flex;
    justify-content: space-between;
}
.variety-3{
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    font-size: 100px;
    margin-left: 20px;
    color: rgb(0, 83, 122);
}
.variety-4{
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: right;
    font-size: 100px;
    margin-right: 20px;
    color: rgb(0, 83, 122);
}
.ugh{
    display: flex;
    justify-content: space-between;
}
.variety-5{
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    font-size: 100px;
    margin-left: 20px;
    color: rgb(0, 83, 122);
}
.variety-6{
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: italic;
    text-align: right;
    font-size: 100px;
    margin-right: 20px;
    color: rgb(0, 83, 122);
}
.bruh{
    display: flex;
    justify-content: space-between;
}
.variety-7{
    font-family: "futura-pt", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    font-size: 100px;
    margin-left: 20px;
    color: rgb(0, 83, 122);
}
.variety-8{
    font-family: "futura-pt", sans-serif;
    font-weight: 600;
    font-style: italic;
    text-align: right;
    font-size: 100px;
    margin-right: 20px;
    color: rgb(0, 83, 122);
}
.umm{
    display: flex;
    justify-content: space-between;
}
.variety-9{
    font-family: "futura-pt", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    font-size: 100px;
    margin-left: 20px;
    color: rgb(0, 83, 122);
}
.variety-10{
    font-family: "futura-pt", sans-serif;
    font-weight: 700;
    font-style: italic;
    text-align: right;
    font-size: 100px;
    margin-right: 20px;
    color: rgb(0, 83, 122);
}
.cat{
    display: flex;
    justify-content: space-between
}
.variety-11{
    font-family: "futura-pt-bold", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    font-size: 100px;
    margin-left: 20px;
    color: rgb(0, 83, 122);
}
.variety-12{
    font-family: "futura-pt-bold", sans-serif;
    font-weight: 700;
    font-style: italic;
    text-align: right;
    font-size: 100px;
    margin-right: 20px;
    color: rgb(0, 83, 122);
}
.uhh{
    display: flex;
    justify-content: space-between
}
.variety-13{
    font-family: "futura-pt", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-align: left;
    font-size: 100px;
    margin-left: 20px;
    color: rgb(0, 83, 122);
}
.variety-14{
    font-family: "futura-pt", sans-serif;
    font-weight: 800;
    font-style: italic;
    text-align: right;
    font-size: 100px;
    margin-right: 20px;
    color: rgb(0, 83, 122);
}
.one{
    display: flex;
    justify-content: space-between
}
.box2{
    background-color: rgb(210, 240, 255);
}
.box3{
    background-color: rgb(0, 83, 122); 
}
h2{
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 100px;
    color: rgb(210, 240, 255);
}
.lala{
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    font-size: 100px;
    margin-left: 20px;
    color: rgb(210, 240, 255);
}
.lolo{
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    font-size: 100px;
    margin-left: 20px;
    color: rgb(210, 240, 255);
}